body {
	background-color:lightgrey;
}

#menu{
		background-color: darkred;
	color:white;
	margin:30px;
	padding:20px;
	text-align:center;
	border:thick dashed;
}


table, th, td{
	margin-left:auto;
	margin-right:auto;
	border: 1px solid black;
	padding: 30px;

}

th {
	color:indianred;
}

th.first{
	color: indianred;
}


}

th.second{
	text-align:center;
}

th.third{
	column-span:6;
}

table {
	;width: 75%; ;height: 75%;

 